<!doctype html>
<html lang="en">
<head>
		
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>Ludo Africa</title>
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="" rel="stylesheet">
	<link href="assets/css/sections-frmwrk-styles.css" rel="stylesheet">
	<link href="/jquery-ui/jquery-ui.min.css" rel="stylesheet">
		<script src="js/jquery-1.12.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="js/phaser.min.js"></script>
        <script src="js/EZGUI/phaser-compat-2.4.js"></script>
        <script src="js/EZGUI/EZGUI.js"></script>
        <script src="js/Boot.js"></script>
        <script src="js/WaitMenu.js"></script>
        <script src="js/GameSetup.js"></script>
        <script src="js/Utility.js"></script>
        <script src="js/BlurX.js"></script>
        <script src="js/BlurY.js"></script>
        <script src="js/Dice.js"></script>
        <script src="js/Queue.js"></script>
        <script src="js/Piece.js"></script>
        <script src="js/Player.js"></script>
        <script src="js/Game.js"></script>
        <script src="js/DiceController.js"></script>
        <script src="js/Rules.js"></script>
        <script src="js/Gamedef.js"></script>
        <script src="js/socket.io.js"></script>
        <script src="js/Socket.js"></script>
        <script src="js/Error.js"></script>
        <script src="js/Alert.js"></script>
        <script src="js/GameObj.js"></script>
        <script src="js/phaser-state-transition-plugin.min.js"></script>
		<script src="jquery-ui/jquery-ui.min.js"></script>
		<script src="/phaser-input/phaser-input.min.js"></script>
		<script src="/phaser-nineslice/phaser-nineslice.js"></script>
		<script src="/underscore/underscore-min.js"></script>
	

<style>

btn.sharp {
  border-radius:0;
}


#center{

   position:absolute;
   opacity : 0.5;
   top: 55px;
   margin: auto;
   right: 45px;
   z-index: 1;
   display: inline;
       	
 }
</style>

</head>
	<body>
	
	<section style="display: block; padding-top: 1px;" class="blurred no-padding-bottom no-padding-top">
	<nav class="navbar navbar-inverse no-margin-bottom" role="navigation">
		<div class="container">
			<div class="navbar-section">
				 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">LUDO AFRICA PROJECT</a>
			</div>
			
			<div class="collapse navbar-collapse navbar-ex1-collapse1">
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						 <a href="#">Home</a>
					</li>
					<li>
						 <a href="#">About</a>
					</li>
					<li>
						 <a href="#">Work</a>
					</li>
					<li>
						 <a href="#">Services</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="main" class="container">
		<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						 </button> <a class="navbar-brand" href="#">CREATE LUDO GAME</a>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						
						<ul class="nav nav-pills left">
                			<li class="dropdown active">
	                    		<a class="dropdown-toggle  btn-md" id="inp_impact" data-toggle="dropdown">
	                        	 PLAYER MODE<span class="caret"></span></a>
	                    		<ul ID="divNewNotifications" class="dropdown-menu">
	                            	<li><a>2-PLAYER</a></li> 
									<li><a>4-PLAYER</a></li>                             
	                    		</ul>
                			</li>
            			</ul>
            			
            				<form class="navbar-form">
								<div class="form-group no-padding-top">
									<input id="playerName" class="form-control" placeholder="PLAYER NAME" type="text" />
								</div> 
								<div  class = "btn-group" data-toggle = "buttons">
   								<label class = "btn btn-danger">
      								<input id="redBtn" type = "checkbox"> RED
   								</label>
   
							   	<label class = "btn btn-primary">
							      	<input id="blueBtn" type = "checkbox"> BLU
							   	</label>
   
							   	<label class = "btn btn-warning">
							      	<input id="yellowBtn" type = "checkbox"> YLW
							   	</label>
							   
							   	<label class = "btn btn-success">
							      	<input id="greenBtn" type = "checkbox"> GRN
							   	</label>
								</div>
							</form>	
							
							<div class="form-group">
     							<div class="margin-top-15">
            						<button id="createBtn" type="button" class="btn btn-md btn-info">CREATE GAME</button>
        						</div>
    						</div>
							
					</div>
					
						
							
														
							
					
				</nav>
				
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">JOIN LUDO GAME</a>
					</div>
					
					<div class="collapse navbar-collapse navbar-ex2-collapse">
						
						<form class="navbar-form">
								<div class="form-group">
									<input id="joinPlayerName" class="form-control" placeholder="PLAYER NAME" type="text" />
								</div> 
								<input id="gameCode" class="form-control" placeholder="GAME CODE" type="text" />
						</form>	
							<div class="form-group">
     							<div class="margin-top-15">
            						<button id="joinGameBtn" type="button" class="btn btn-md btn-info">JOIN GAME</button>
        						</div>
    						</div>
					</div>
					
				</nav>
		
		</div>
	</div>
</section>

<div id="center">
       <div class="radionomy-player"></div>
</div>

<section class="blurred " style="display: block; padding-top: 20px; padding-bottom: 20px;" id="orient">
	<div class="container">
		<div class="row">
			<div id="dialog" title=" " class="selector"> </div>
				<div id="gameContainer"></div>
		</div>
	</div>
</section>

<section class="no-padding-bottom no-padding-top" style="display: block;">

	<div class="input-group">
    		<textarea id="chat" class="form-control custom-control" rows="3" style="resize:none"></textarea>     
    		<span id="sendBtn" class="input-group-addon btn btn-primary">Send</span>
		</div>
</section>

<script src="js/index.js"></script>
<script type="text/javascript">
$('.dropdown-toggle').dropdown();
</script>

</body>
</html>